# =========================
# .NET / C# 
# =========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
*.vs/
*.ncrunch*
*.ide/
*.dotCover
*.resharper
_ReSharper*/
*.DotSettings.user
*.dotCover
*.nupkg
*.snk
packages/
TestResults/
*.cache
*.log

# =========================
# Terraform
# =========================
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terraform
.terraform/
*.tfstate
*.tfstate.*


# =========================
# Git
# =========================
*.orig
*.patch
*.rej
*.bak
*.swp
*.swo
*.DS_Store
*.Thumbs.db

# =========================
# Secrets / Tokens
# =========================
*.env
.env.*
secrets.json
*.pem
*.key
*.pfx
*.crt

# =========================
# Logs
# =========================
*.log
logs/
